language: scala

scala:
  - 2.13.10

services: docker

jdk:
  - openjdk11
  - openjdk14

before_cache:
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
  - find $HOME/.sbt -name "*.lock" -delete

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot/

before_script:
  - |
    docker run --cap-add IPC_LOCK -d --name=dev-vault -p 8200:8200 vault

script:
  - sbt compile
  - sbt -Dsbt.color=true coverage test