<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date]%highlight([%-5level][%logger] %message) %n%xException</pattern>
        </encoder>
    </appender>

    <logger name="org.scalatest" level="debug" />
    <logger name="org.http4s" level="info" />

    <root level="debug">
        <!-- <appender-ref ref="FILE"/> -->
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>